<h2>Listado de g&eacute;neros</h2>
<button mat-flat-button color="primary" routerLink="/generos/crear">
  Crear nuevo
</button>

<app-listado-generico [listado]="_genres">
  <ng-container nulo>
    <p>Cargando listado de g&eacute;neros, por favor espere.</p>
  </ng-container>
  <ng-container vacio>
    <p>No hay g&eacute;neros para mostrar.</p>
  </ng-container>
  <ng-container contenido>
    <table
      #table
      mat-table
      [dataSource]="_genres"
      class="mat-elevation-z8 index-table"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let genre">{{ genre.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let genre">{{ genre.name }}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let genre">
          <a
            mat-flat-button
            color="primary"
            routerLink="/generos/editar/{{ genre.id }}"
            >Editar</a
          >
          <button
            mat-flat-button
            color="warn"
            (click)="deleteGenre(genre.id, genre.name)"
          >
            Eliminar
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="_columns"></tr>
      <tr mat-row *matRowDef="let row; columns: _columns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 50]"
      showFirstLastButtons
      [length]="_length"
      [pageSize]="_pageSize"
      (page)="pageGenres($event)"
      MatPaginator
    >
    </mat-paginator>
  </ng-container>
</app-listado-generico>
