<div class="movie" *ngIf="movie">
  <div>
    <h1>{{ movie.title }} ({{ releaseDate.getFullYear() }})</h1>
    <div class="movie-information">
      <mat-chip-set>
        <mat-chip
          [routerLink]="['/peliculas/buscar']"
          [queryParams]="{ genre: genre.id }"
          *ngFor="let genre of movie.genres"
          >{{ genre.name }}</mat-chip
        >
      </mat-chip-set>
      <span
        >{{ releaseDate.toDateString() }} | Promedio: 0.0 | Tu voto: 0.0</span
      >
    </div>
    <div class="movie-media">
      <div class="movie-poster">
        <img [src]="movie.posterUrl" />
      </div>
      <div *ngIf="movie.trailerUrl" class="movie-trailer">
        <iframe
          [src]="trailerUrl"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>
      <div class="cinemas-map" *ngIf="coordinates.length > 0">
        <app-mapa [coordinates]="coordinates" [readOnly]="true"></app-mapa>
      </div>
    </div>
    <div>
      <h2>Elenco</h2>
      <div class="cast">
        <div *ngFor="let star of movie.cast" class="star-info">
          <img [src]="star.photographyUrl" class="star-photography" />
          <div>
            <p class="star-name">{{ star.starName }}</p>
            <p>{{ star.character }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-spinner *ngIf="!movie"></mat-spinner>
