<div>
  <button type="button" mat-raised-button (click)="fileInput.click()">
    <span #buttonText>
      <ng-content select="[buttonText]"></ng-content>
    </span>
    <span *ngIf="!buttonText.innerHTML.trim()">Seleccionar un archivo</span>
  </button>
  <input
    type="file"
    accept="image/*"
    (change)="onChange($event)"
    hidden
    #fileInput
  />
</div>
<div>
  <div *ngIf="imagenBase64">
    <img [src]="imagenBase64" />
  </div>
  <div *ngIf="urlImagenActual">
    <img [src]="urlImagenActual" />
  </div>
</div>
