<form (submit)="onSubmitCine()" [formGroup]="_form">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input formControlName="name" matInput />
    <mat-error *ngIf="_form.invalid">El campo es requerido.</mat-error>
  </mat-form-field>

  <div class="cinemas-map">
    <h4>Seleccione la ubicaci&oacute;n del cine</h4>
    <app-mapa
      (submitCoordenada)="obtenerCoordenadas($event)"
      [coordinates]="_coordinates"
    ></app-mapa>
  </div>

  <div class="option-buttons">
    <button mat-flat-button color="primary" [disabled]="_form.invalid">
      Guardar
    </button>
    <a mat-stroked-button routerLink="/cines">Cancelar</a>
  </div>
</form>
