<form (submit)="onSubmit()" [formGroup]="_form">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input formControlName="name" matInput />
    <mat-error>El campo nombre es requerido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha de nacimiento</mat-label>
    <input formControlName="dateOfBirth" [matDatepicker]="picker" matInput />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <app-subir-imagen
    (onSelectImage)="imagenSeleccionada($event)"
    [urlImagenActual]="modelo.photographyUrl.toString()"
  ></app-subir-imagen>

  <div>
    <button mat-flat-button color="primary" [disabled]="_form.invalid">
      Guardar
    </button>
    <a mat-stroked-button routerLink="/actores">Cancelar</a>
  </div>
</form>
